credentials.csv
Cloud Data Warehouses/Implementing Data Warehouses in AWS_Jupyter_notebooks/dwh.cfg
Cloud Data Warehouses/Data Warehouse Project/dwh.cfg
Data Lakes with Spark/Project Data Lake/dl.cfg
rootkey.csv